
.grid-container{
    display: grid;
    grid-template-columns: 17% 22% 22% 22% 17% ;
    background-color: rgb(249, 252, 250);
   
}
.grid-container > div{
    font-size: 16px;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.item1,.item2,.item3{
    grid-column: 1 / span 5;
    
}

.item3_1{
    grid-column: 2 / span 3;
}
.item3_5{
    grid-column: 2 / span 3;
}
.item3_6{
    grid-column: 2 / span 1;
}
.item4{
    grid-column: 3 / span 1;
}
.item4_1{
    grid-column: 2 / span 3;
}
.item4_2{
    grid-column: 2 / span 1;
}
.item5{
    grid-column: 4 / span 1;
}
.item5_1{
    grid-column: 2 / span 3;
}
.item5_2{
    grid-column: 3 / span 1;
}
.item6{
    grid-column: 2 / span 3 ;
}
.item7{
    grid-column: 2 / span 3 ;
}
.item8{
    grid-column: 2 / span 3 ;
}
.item9{
    grid-column: 3 / span 1 ;
}
.item9_1{
    grid-column: 2 / span 3 ;
}
.item9_2{
    grid-column: 2 / span 3 ;
}
.item10{
    grid-column: 2 / span 3 ;
}
.item11{
    grid-column: 2 / span 3 ;
}
.item12{
    grid-column: 3 / span 1 ;
}
.assignment{
    
    grid-column: 2 / span 3 ;
}
.item13{
    grid-column: 1 / span 5;
}
.contact{
    grid-column: 1 /span 5;
}




#menubar{
    width: 100%;
    height: 50px;
    background: rgb(247, 244, 244);
    box-shadow: 0 0 10px rgb(67, 65, 65);
}
#menubar #Logo{
    margin-left: 50px;
    float: left;
    letter-spacing: 8px;
}
#menubar h1{
    margin: 0;
    font-weight: normal;
    padding-top: 10px;
    padding: 10px;
    font-size: 25px;
}
#menubar ul#menu {
    list-style: none ;
    margin-right: 50px;
    float: right;
}
#menubar ul#menu li{
    float: left;
    margin-right: 50px;
}
#menubar ul#menu li a{
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}
#menubar ul#menu li a:hover{
    border-bottom: 2px solid #333;
    padding-bottom: 0;
}

/* font-style: italic; */


#header img{
    width: 100%;
}
#header {
    color: rgb(255, 250, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#header h1  {
    position: absolute;
    font-size: 40px;
    top: 30%;
    text-align: center;
    font-weight: bold;    
    width: 100%;  
}
#header h3
{
    position: absolute;
    font-size: 15px;
    color: rgb(161, 156, 156);
    top: 45%;
    text-align: left;
    margin-left: 35%;
    margin-right: 30%;
}




#header2{
    text-align: center;
    font-style: italic;
    padding-bottom: 30px;

}
#header2 h2{
letter-spacing: 5px;
}
#header2 p{
    margin-top: -5px;
}
#header2 img
{
    margin-top: 30px;
    width:25%;
    height: 40%;
    border-radius: 100%;
}
hr{
    height: 3px;
    margin-top: 40px;
    background-color: rgb(42, 46, 56); 
    box-shadow: 0 0 8px #666;
}




#hobby p{
    text-indent: 50px;
    text-align: left;
}

#Travel{
    text-align: center;
}

#Travel img{
    width: 80%;
}
#eat{
    text-align: center;
}
#eat img{
    
    width: 80%;
}
#music img{
    width: 80%;
}




#attention_pic img{
    width: 80%;
    margin-top: 8%;
    
}
#attention{
    margin-top: 70px;  
}
 #attention p{
    text-indent: 70px;
    text-align: left; 
}


#skill h2 {
    color:#000;
    height: 50px;
    margin-top: 70px;
    padding-top: 1%;
}
#skill p{
    text-indent: 70px;
    text-align: left;
}

#skill1  li{
    text-align: left;
    font-weight: bold;
}
#Pic_skill1 img{
    width: 90%;  
}
#skill2 li{
    text-align: left;
    font-weight: bold;
}
#Pic_skill2 img{
    width: 90%;
}



.assignment{
    margin-top: 100px;
}
 .assignment ul{
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;

}
.assignment li{
    font-style: 1.2em;
    line-height: 40px;
    text-align: left;
}
.assignment a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #888;
    transition: .3s;
}
.assignment a:hover{
    background-color:#005f5f;
}
.assignment a.active{
    background-color: #aaa;
    color: #444;
    cursor: default;
}

.contact{
    margin-top: 100px;
}

/*project*/

#Project0{
    background-color: rgb(81, 155, 130);
    width: 100%;
    margin-top: 50px;
}
#Project0 p,#Project1 p,#Project2 p{
    margin-left: 25%;
    margin-right: 25%;
    color: #fff;
}
#Project0 img{
    margin-top: 50px;
    width:80%;
}
#Project1 {
    background-color: rgb(81, 155, 130);
}

#Project1 img{
    width: 80%;
}

#Project2,#Project3{
    background-color: rgb(166, 148, 91);
}
#Project2 img{
    width: 80%;
    margin-top: 50px;
   
   
}

#Project3 img {
    margin-top: 50px;
    width: 80%;
}



@media only screen and (max-width: 700px){
    .grid-container{
        display: grid;
        grid-template-columns: 100% ;
    }
    .grid-container > div{
        grid-column: 1 / span 1 ;
    }
    #menubar{
        text-align: center;
    }

    #menubar #Logo{
        margin-left: 25px;
        letter-spacing: 8px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #menubar h1{
        padding: 15px;
        font-size: 14pt;
    }
    #menubar ul#menu {  
        
        float: left; 
        margin-right: 0; 
    }
    #menubar ul#menu li{
        padding-right: 10px;
        margin-right: 10px;
        margin-left: 0px;
    }
    #header img{
        box-shadow: 0 0 10px #666;
    }
    #header h1  {
       
       font-size: 10pt;
        top: 20%; 
    }
    #header h3
    {
    font-size: 6pt;
    top: 25%;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    text-indent: 20px;
    }
    #header2{
       
        font-size: 6pt;
    
    }
    #header2 h2{
    letter-spacing: 0px;
    }
    
    #header2 img
    {
        margin-top: 5%; 
    }
    
    hr{
        
        margin-top: 0px;
        background-color: rgb(38, 51, 85); 
        box-shadow: 0 0 10px #666;
    }
    #hobby h2{
        font-size: 10pt;

    }

    #hobby p{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 8pt;
    }
    #Travel h3,#eat h3 ,#music h3{
        font-size: 8pt ;
    }
    #Travel img{
        width: 50%;
    }
    #eat img{
        
        width: 50%;
    }
    #music img{
        width: 50%;
    }
   
    #attention{
        margin-top: 0px; 
       
    }
    #attention h2{
        font-size: 10pt;
    }
    #attention p{
        font-size: 8pt;
        margin-left: 10%;
        margin-right: 10%;
        text-indent: 30px;
    }
    

    
    
    #skill h2 {
        height: 20px;
        margin-top: 50px;
        font-size: 10pt;
        
    }
    #skill p{
        font-size: 8pt;
        margin-left: 10%;
        margin-right: 10%;
        text-indent: 30px;
    }
    
    #skill1  li{
        font-size: 8pt;
        margin-left: 10%;
        margin-right: 10%;
    }
    #skill1 h3{
        font-size: 9pt;
    }
    #Pic_skill1 img{
        width: 80%;  
    }
    #skill2 li{
        font-size: 8pt;
        margin-left: 10%;
        margin-right: 10%;
    }
    #skill2 h3{
        font-size: 9pt;
    }
    #Pic_skill2 img{
        width: 80%;
    }
    .assignment h2{
      font-size: 10pt;

    }
    #contact{
        font-size: 10pt;
    }
}











